{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <a class="title-link" href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
      </header>

      <div class="post-content">
        {{ if .Params.featuredImage }}
          <img src="{{ .Params.featuredImage | relURL }}" alt="Featured image"/>
        {{ end }}
        {{ .Content }}
        {{ with .Params.externalLink }}
          <p class="sponsor-website-link"><a href="{{ . }}">Visit website &rarr;</a></p>
        {{ end }}
      </div>


    </article>

  </section>
{{ end }}
