<div class="countdown" id="countdown" aria-label="Countdown to MWTC 2026">
  <div class="countdown-unit">
    <span class="countdown-number" id="cd-days">--</span>
    <span class="countdown-label">Days</span>
  </div>
  <div class="countdown-sep" aria-hidden="true">:</div>
  <div class="countdown-unit">
    <span class="countdown-number" id="cd-hours">--</span>
    <span class="countdown-label">Hours</span>
  </div>
  <div class="countdown-sep" aria-hidden="true">:</div>
  <div class="countdown-unit">
    <span class="countdown-number" id="cd-minutes">--</span>
    <span class="countdown-label">Min</span>
  </div>
  <div class="countdown-sep" aria-hidden="true">:</div>
  <div class="countdown-unit">
    <span class="countdown-number" id="cd-seconds">--</span>
    <span class="countdown-label">Sec</span>
  </div>
</div>
